<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
     <title>Document</title>
</head>
<body>
     <div class="wrapper">

          <header>
               <h1>Welcome to the Wall</h1>

               {% with messages = get_flashed_messages() %}
                   {% if messages %}
                         {% for message in messages %}
                            <ul>
                                 {{message}}<br>
                            </ul>
                         {% endfor %}
                   {% endif %}
              {% endwith %}
          </header>

          <main>
               <a href="/login_portal"><button type="button" name="button">Login</button></a>
               <a href="/register"><button type="button" name="button">New User</button></a>
               <a href="/wall"><button type="button" name="button">Wall</button></a>
          </main>

          <hr>

     </div>
</body>
</html>
