<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ url_for('static', filename='login_portal.css') }}">
     <title>Document</title>
</head>
<body>
     <div class="wrapper">
          <header>
               <h1>The wall</h1>
               <!-- <h2>Login</h2> -->
               {% with messages = get_flashed_messages() %}
                   {% if messages %}
                         {% for message in messages %}
                            <p>{{message}}</p>
                         {% endfor %}
                   {% endif %}
              {% endwith %}
          </header>


          <aside>
               <h2>Login</h2>
               <form action="/login" method="post">
                    <label for="email">Email: </label>
                    <input type="text" name="email" value="">

                    <label for="password">Password: </label>
                    <input type="password" name="password" value=""><br>

                    <input type="submit" id='submit' name="submit" value="LOGIN">
                    <a href="/"><button type="button" name="button">HOME</button></a>
               </form>
          </aside>

          <hr>


     </div>
     <!-- <hr> -->
</body>
</html>
